body {
    background-color: #000000;
    visibility: hidden;
    margin: 0;
    padding: 0;
}

body, html {
    height: 100%;
}

.screen {
  background-color: #000000;
  color: #EEEEEE;
  font-size: 100%;
  background-image: linear-gradient(#333333, #111111);
  flex-direction: column;
  justify-content: center;
  display: flex;
  height: 100%;
}

@media screen and (min-width: 1081px) {
  .screen {
    width: 320px;
    height: 540px;
    margin: auto;
    border: 4px solid green;
  }
}

.head {
    background-color: #000000;
    color: #DDDDDD;
    width: 100%;
    display: flex;
    flex-direction: row;
}

.head .text {
    text-align: left;
    padding: .7em 1em .4em 1em;
    font-family: "Gothic A1";
    font-weight: 900;
}

#settings {
    background-color: #000000;
    border-bottom: 2px solid #FFFFFF;
    font-weight: 900;
}
  
.storyscreen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.textbox {
  background-color: #000000;
  padding: 1em 2em;
  text-align: center;
  border-bottom: 4px solid #FFFFFF;
  margin: 1em;
  border-radius: 0em 2em 2em 0;
  font-family: "Gothic A1";
  text-shadow: 2px 1px 0px #990000;
  font-weight: 700;
}

.padding {
    margin: auto;
    flex-grow: 1;
}

.largepadding {
    margin: auto;
    flex-grow: 1.1;
}

pre.green {
    color: #00FF00;
}
